{% extends "dashboard/dash_base.html" %}
{% load static %}

{% block content %}
<div class="row d-flex justify-content-center">
  <div class="col-6">
    <p class="mt-2">3D Models list</p>
  </div>
  <div class="col-6 d-flex flex-column align-items-end ">
    <a href="{% url '3DmodelsUpsert' %}" class="btn btn-primary text-white custom-btn">
      <i class="icon-plus custom-icon"></i> Add 3DModel
    </a>
  </div>
</div>

<div class="table-responsive  mt-1 p-1">
  <table class="table select-table">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th>Space</th>
        <th>File Path</th>
        <th>Uploaded By</th>
        <th>Uploaded At</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      {% for rental_model in rental_list_model %}
      <tr>
        <td class="text-center">
          <p>{{ rental_model.model_id }}</p>
        </td>
        <td>
          <p>{{ rental_model.rental_space.name }}</p> 
        </td>
        <td>
          {% if rental_model.file_path.url %}
              <img src="{{ rental_model.file_path.url }}" alt="test" width="500" height="500">
          {% else %}
              <img src="{% static '3.jpg' %}" alt="test" width="200" height="200">
          {% endif %}
      </td>
      
        <td>
          <p>{{ rental_model.uploaded_by.username }}</p> 
        </td>
        <td>
          <p>{{ rental_model.uploaded_at }}</p>
        </td>
        <td >
          <a href="{% url 'EditModel' rental_model.model_id %}" class="btn btn-primary text-white mt-3 w-auto"> 

                    <i class="mdi mdi-pen"></i> 
          </a>

          <a href="{% url 'DeleteModel' rental_model.model_id %}" class="btn btn-danger text-white mt-3 mx-0 delete-link "> 
              <i class="mdi mdi-delete"></i> 
            </a>
         </td>
      </tr>
      {% endfor %}
    </tbody>
 
{% endblock %}