{% extends "dashboard/dash_base.html" %}
{% load static %}

{% block content %}
<h5>Add Tenant</h5>
<div class="row">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="tenant_id">Tenant Name/Account</label>
            <select class="form-control" id="tenant_id" name="user" required>
                <option value="" disabled selected>Select Tenant</option>

                {% for tenant in form.user.field.queryset %}

                    <option value="{{ tenant.user_id }}">{{ tenant.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="lease_start_date">Lease Start Date</label>
            <input type="date" class="form-control" id="lease_start_date" name="lease_start_date" required>
        </div>

        <div class="form-group">
            <label for="lease_end_date">Lease End Date</label>
            <input type="date" class="form-control" id="lease_end_date" name="lease_end_date" required>
        </div>

        <div class="form-group">
            <label for="space">Rental Space</label>
            <select class="form-control" id="space" name="rental_space" required>
                <option value="" disabled selected>Select a space</option>
                {% for space in form.rental_space.field.queryset %}
                    <option value="{{ space.space_id }}">{{ space.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="monthly_rent">Monthly Rent</label>
            <input type="number" class="form-control" id="monthly_rent" name="monthly_rent" required>
        </div>

        <div class="form-group">
            <label for="payment_status">Payment Status</label>
            <select class="form-control" id="payment_status" name="payment_status" required>
                <option value="" disabled selected>Select a status</option>
                {% for choice, label in form.fields.payment_status.choices %}
                    <option value="{{ choice }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary text-white">Save</button>
    </form>
</div>
{% endblock %}
