{% extends "dashboard/dash_base.html" %}
{% load static %}

{% block content %}

<h5>Update Rental Space</h5>

<div class="row">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="name">Space name</label>
            <input type="text" class="form-control" id="name" name="name"  value= "{{ form.instance.name}}"required >

        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description"  value= "{{ form.instance.description}}" required>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price"  value= "{{ form.instance.price}}" required>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status" required>
                <option value="" disabled>Select a status</option>
                <option value="Available" {% if form.instance.status == "Available" %}selected{% endif %}>Available</option>
                <option value="Occupied" {% if form.instance.status == "Occupied" %}selected{% endif %}>Occupied</option>
            </select>
        </div>

        <div class="form-group">
            <label for="dimensions">Dimensions</label>
            <input type="text" class="form-control" id="dimensions" name="dimensions"   value= "{{ form.instance.dimensions}}" required>
        </div>

        
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="location"  value= "{{ form.instance.location}}"  required>
        </div>

      
    
    

        <button type="submit" class="btn btn-primary text-white">Save</button>
    </form>
</div>

{% endblock %}
