{% extends "dashboard/dash_base.html" %}
{% load static %} 

{% block content %}
<div class="row d-flex justify-content-center">

  <div class="col-6">
    <p class="mt-2">Rental Space list</p>

  </div>
  <div class="col-6 d-flex flex-column align-items-end ">
    <a href="#" class="btn btn-primary text-white custom-btn">
      <i class="icon-plus custom-icon"></i> Add space
    </a>
    
  </div>
  
</div>
  <div class="table-responsive  mt-1 p-1">
    <table class="table select-table">
      <thead>
        <tr>
          <th class="text-center">SpaceID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
          <th>Dimensions</th>
          <th>Location</th>
          <th>Model path</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>


        {% for rentals in rental_list %}
        <tr>
          <td class="text-center">

                <p>  {{rentals.space_id}} </p>
             
          </td>
          <td>
                <p>{{rentals.name}}</p>
          </td>
          <td>
            <p>{{rentals.description}}</p>
          </td>
          <td>
            <p>{{rentals.price}}</p>
          </td>
          <td>
            <p class="badge badge-opacity-success">{{rentals.status}}</p>
          </td>
          <td>
            <p>{{rentals.dimensions}}</p>
          </td>
          <td>
            <p>{{rentals.location}}</p>
          </td>
          <td>
            <p>{{rentals.model_path}}</p>

          </td>

          <td>
            <p>{{rentals.created_at}}</p>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}