{% extends "dashboard/dash_base.html" %}
{% load static %} 

{% block content %}
<div class="row d-flex justify-content-center">

  <div class="col-6">
    <p class="mt-2">Rental Space list</p>

  </div>
  <div class="col-6 d-flex flex-column align-items-end ">
    <a href="{% url 'AddRentalSpace' %}" class="btn btn-primary text-white custom-btn">
      <i class="icon-plus custom-icon"></i> Add space
    </a>
    
  </div>
  
</div>
  <div class="table-responsive  mt-1 p-1">
    <table class="table select-table">
      <thead>
        <tr>
          <th class="text-center">SpaceID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
          <th>Dimensions</th>
          <th>Location</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>


        {% for rentals in rental_list %}
        <tr>
          <td class="text-center">

                <p>  {{rentals.space_id}} </p>
             
          </td>
          <td>
                <p>{{rentals.name}}</p>
          </td>
          <td>
            <p>{{rentals.description}}</p>
          </td>
          <td>
            <p>{{rentals.price}}</p>
          </td>
          <td>

            {% if rentals.status == 'Available' %}
               <p class="badge badge-opacity-success">{{rentals.status}}</p>
            {% else %}
               <p class="badge badge-opacity-danger">{{rentals.status}}</p>
            {% endif %}
          </td>
          <td>
            <p>{{rentals.dimensions}}</p>
          </td>
          <td>
            <p>{{rentals.location}}</p>
          </td>
        

          <td>
            <p>{{rentals.created_at}}</p>

          </td>
          <td class="w-auto">
            <a href="{% url 'EditRental' rentals.space_id %}" class="btn btn-primary text-white mt-3"> 
                      <i class="mdi mdi-pen"></i> 
            </a>
  
            <a href="{% url 'DeleteRental' rentals.space_id %}" class="btn btn-danger text-white mt-3 mx-0  delete-link"> 
                <i class="mdi mdi-delete"></i> 
              </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}