{% extends "myApp/base.html" %}
{% load static %} 
{% block title %}About Us{% endblock %}

{% block content %}

 <section class=" p-2">

        <h1 class="text-center">Welcome to QQ Mall</h1>


        <div class="container mt-4">
            <h5>Company's Overview</h5>

            <p class="text-wrap  mt-4" style="text-align: justify; text-indent: 30px;">Founded in 2003, QQ Mall has been a cornerstone of the Quiapo community, providing affordable rental spaces for tenants and entrepreneurs. 
               prime location at #725 Quezon Blvd. Zone 030 Brgy. 308, Quiapo, Manila, Philippines makes us an ideal choice for businesses looking to thrive. 
              With our strategic proximity to Isetan, Sun Star Hotel, Quiapo Church, and several universities, QQ Mall is a hub of activity and opportunity.</p>
       

              <div class="row">

                     <div class="img-wrapper d-flex justify-content-center">
                            <img src="{% static 'Mission.png' %}" alt="visionico" width="200" height="200">

                     </div>
                     <h5 class="text-center mt-4">Our Mission</h5>

                     <p class="text-wrap  mt-4" style="text-align: justify; text-indent: 30px;">At QQ Mall, our mission is to foster a vibrant marketplace where businesses can flourish. 
                       We strive to offer accessible rental options that empower entrepreneurs and provide customers with a diverse shopping experience.</p>
              </div>
           
              <div class="row">

                     <div class="img-wrapper d-flex justify-content-center">
                            <img src="{% static 'vision.png' %}" alt="visionico" width="200" height="200">

                     </div>


              <h5 class="text-center mt-4">Our Vision</h5>
              <p class="text-wrap  mt-4" style="text-align: justify; text-indent: 30px;">We envision QQ Mall as a leading shopping destination that not only supports local businesses but also enriches the community through innovation and collaboration.</p>
              </div>
       
       </div>

 </section>

 <section class=" p-2">


       <div class="container mt-4">

      

             <div class="row">
                 


                    <div class="img-wrapper d-flex justify-content-center">
                           <img src="{% static 'group-users.png' %}" alt="visionico" width="200" height="200">

                    </div>
                    <h5>Community Engagement</h5>
                    <p class="text-wrap  mt-4" style="text-align: justify; text-indent: 30px;">We believe in building strong relationships with our tenants and the surrounding community.</p>

             </div>
          
             <div class="row">

                    <div class="img-wrapper d-flex justify-content-center">
                           <img src="{% static 'dollar-coin.png' %}" alt="visionico" width="200" height="200">

                    </div>
                    <h5>Affordability</h5>
                    <p class="text-wrap  mt-4" style="text-align: justify; text-indent: 30px;">Providing cost-effective rental solutions is at the heart of our operations.</p>
             </div>

                
             <div class="row">

              <div class="img-wrapper d-flex justify-content-center">
                     <img src="{% static 'redefining.png' %}" alt="visionico" width="200" height="200">

              </div>


              <h5>Integrity</h5>
              <p class="text-wrap  mt-4" style="text-align: justify; text-indent: 30px;">We conduct our business with transparency and honesty.</p>
       </div>
      
      </div>

</section>






{% endblock %}