{% extends "myApp/base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

<section id="Home" class="shadow-sm mt-lg-4">
    <h1>Welcome to QQ Mall</h1>
    <p>Explore our rental spaces and experience the 3D virtual tour.</p>
  </section>
  
  <section id="RentalSpace" class="shadow-sm mt-lg-4">
    <h2>Available Rental Spaces</h2>
    <!-- Content for rental spaces -->
  </section>
  
  <section id="Pricing" class="shadow-sm mt-lg-4">
    <h2>Pricing and Plans</h2>
    <!-- Content for pricing and plans -->
  </section>
  
  <section id="3DVirtualTour" class="shadow-sm mt-lg-4">
    <h2>3D Virtual Tour</h2>
    <!-- Content for the 3D Virtual Tour -->
  </section>
  
  <section id="AboutUs" class="shadow-sm mt-lg-4">
    <h2>About Us</h2>
    <!-- Content for About Us -->
  </section>
  
  <section id="ContactUs" class="shadow-sm mt-lg-4">
    <h2>Contact Us</h2>
    <!-- Content for Contact Us -->
  </section>
{% endblock %}
